<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>About</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- Navbar -->

<nav class="navbar">

    <div class="logo">

        🩺 HyperCare AI

    </div>

    <div class="nav-links">

        <a href="/">Home</a>

        <a href="/predict">Prediction</a>

        <a href="/about">About</a>

        <a href="/contact">Contact</a>

    </div>

</nav>

<!-- Floating Particles -->

<div class="particles"></div>

<!-- Background Animation -->

<div class="background-animation"></div>

<div class="simple-page">

    <h1>About Project</h1>

    <p>

        This project predicts hypertension stages
        using Machine Learning and Flask.

    </p>

    <br>

    <h2>Technologies Used</h2>

    <ul>

        <li>Python</li>

        <li>Flask</li>

        <li>Machine Learning</li>

        <li>HTML CSS JavaScript</li>

        <li>Chart.js</li>

    </ul>

    <br>

    <p>

        This system helps analyze blood pressure
        risk using AI and data analytics.

    </p>

</div>

</body>
<!--<footer class="footer">

    <p>

        © 2026 HyperCare AI |
        Developed by Abhitoj Singh

    </p>

    <a href="https://github.com/AbhitojsinghIndia"
       target="_blank">

        GitHub Profile

    </a>

</footer>-->

</html>