<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AI Hypertension System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- Navbar -->

<nav class="navbar">

    <div class="logo">

        🩺 HyperCare AI

    </div>

    <div class="nav-links">

        <a href="/">Home</a>

        <a href="/predict">Prediction</a>

        <a href="/about">About</a>

        <a href="/contact">Contact</a>

    </div>

</nav>

<!-- Floating Particles -->

<div class="particles"></div>

<!-- Background Animation -->

<div class="background-animation"></div>

<!-- Hero Section -->

<div class="hero-section">

    <h1>🩺 AI Hypertension Prediction System</h1>

    <p>

        Advanced Machine Learning Based
        Blood Pressure Analysis Platform

    </p>

    <div class="nav-buttons">

        <a href="/predict">
            Start Prediction
        </a>

        <a href="/about">
            About
        </a>

        <a href="/contact">
            Contact
        </a>

    </div>

</div>

</body>
<!--<footer class="footer">

    <p>

        © 2026 HyperCare AI |
        Developed by Abhitoj Singh

    </p>

    <a href="https://github.com/AbhitojsinghIndia"
       target="_blank">

        GitHub Profile

    </a>

</footer>-->

</html>